DATABASE="mongodb+srv://username:password@cluster0.4bjx7.mongodb.net/db-name"
JWT_SECRET="CHUOI KY TU NGAU NHIEN"
EMAIL_USERNAME="eamil " #email của mật khẩu ứng dụng
EMAIL_PASSWORD="mật khẩu ứng dụng" #mật khẩu ứng dụng
EMAIL_SECURE="false" # http: false, https:true
CLOUDDINARY_NAME=""
CLOUDDINARY_APIKEY=""
CLOUDDINARY_APISECRET=""
ZALOPAY_APPID=""
ZALOPAY_KEY1=""
ZALOPAY_KEY2=""
ZALOPAY_DOMAIN=""
DOMAIN_WEBSITE=""
VNPAY_CODE=""
VNPAY_SECRET=""
VNPAY_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
